//////////////////////////////////////////////////////////////////////
//
// Derived from Microsoft TSF sample by Jeremy '12,6,25
//
//  TextService.rc
//
//          Resources.
//
//////////////////////////////////////////////////////////////////////


IDI_TEXTSERVICE ICON TextService.ico

