Dep/*
Distributions/InstallerWin/*.exe
Distributions/InstallerWin/OpenVanilla/*
Distributions/InstallerWin/system32.x86/*
Distributions/InstallerWin/system32.x64/*
*.lastbuildstate
*.sdf
*.pdb
*.opensdf
*.obj
*.exe
*.cache
*.lib
*.log
*.ime
*.exp
*.dll
*.tlog
*.bi
*.metagen
*.res
*.resources
Loaders/Windows/OVUIServer/obj/*
Loaders/Windows/OVUIServer/bin/*
*/Release/*
*/Debug/*
*/bin/*
*/obj/*
*.unsuccessfulbuild
