Dep/*
Distributions/InstallerWin/*.exe
Distributions/InstallerWin/OpenVanilla/*
Distributions/InstallerWin/OVUtil/bin/*
Distributions/InstallerWin/OVUtil/obj/*
Distributions/InstallerWin/system32.x86/*
Distributions/InstallerWin/system32.x64/*
HelperApps/PreferencesWin/bin/*
HelperApps/PreferencesWin/obj/*
Loaders/Windows/OVTSF/Dictionary
*.lastbuildstate
*.sdf
*.v11.suo
*.user
*.pdb
*.opensdf
*.obj
*.exe
*.cache
*.lib
*.log
*.ime
*.exp
*.dll
*.tlog
*.bi
*.metagen
*.res
*.resources
*.idb
Loaders/Windows/OVUIServer/obj/*
Loaders/Windows/OVUIServer/bin/*
*/Release/*
*/Debug/*
*/bin/*
*/obj/*
*.unsuccessfulbuild
