<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CinInstaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>OVIMArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OVIMArraySQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OVIMEsperanto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>OVIMGeneric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OVIMGenericSQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OVIMPOJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>OVIMPhonetic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>OVIMTibetan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>OVIMUnicode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>OVLegacyModuleLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OVOFFullWidthCharacter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>OVOFHanConvert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>OpenVanilla (Framework).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OpenVanilla (Loader IMK).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Preferences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0110C2EF142E5E7B000F9D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01F99FF21428F8DC001DE94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A21AA850E9D0B3D0078C2E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A6A860F0E867B2E00B94B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A6A86FA0E8683CB00B94B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A71FD1C120ED3570026408B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A8C6CE6103D3F8D00DE4A39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A8C6DFB103D459F00DE4A39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB6CE690E9CF46F0001B127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D403C3100EA3CBD0006F0A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D403C4560EA3D10A006F0A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D403C4C50EA3D2E4006F0A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D403C5750EA3D49E006F0A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D403C5F20EA3D5C0006F0A89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42E383A0E86A22300453DE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44641C3106CC0CF002C5621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44D46EB0E9DB0E30062F692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
